{% extends 'base/base.html' %}
{% load static %}
{% block css %}
    <link href="{% static 'lib/datatables.net-dt/css/jquery.dataTables.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/datatables.net-responsive-dt/css/responsive.dataTables.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/select2/css/select2.min.css' %}" rel="stylesheet">
    <link href="{% static 'ajax_datatable/css/style.css' %}" rel="stylesheet"/>
    <link href="{% static 'lib/datatables.net-dt/css/jquery.dataTables.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/datatables.net-responsive-dt/css/responsive.dataTables.min.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
    <h1>Data Pondok</h1>

    <div data-label="Evaluasi {{ data_pondok.nama_pondok }}" class="df-example">
        {#    evaluasi#}
        {#    {{ data_pondok.nama_pondok }}#}

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-row">

                <div class="form-group col-lg-12">

                    {% for i in data_indikator %}
                        <div class="form-group row">
                            <label for="id_{{ i.pk }}" class="col-lg-2 col-form-label">{{ i.ciri }}</label>
                            <input type="hidden" name="ciri_{{ i.pk }}" value="{{ i.pk }}">

                            <div class="col-lg-10">
                                <input type="text" class="form-control" name="uraian_{{ i.pk }}"
                                       placeholder="Isi Hasil Evaluasi" required>
                                <br>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" name="file_{{ i.pk }}" required>
                                    <label class="custom-file-label" for="customFile">Unggah Bukti Evaluasi</label>
                                </div>
                            </div>

                        </div>
                    {% endfor %}
                    <input type="hidden" name="id_pondok" value="{{ data_pondok.id }}">
                </div>
            </div>
            <div class="form-group row mg-b-0">
                <div class="col-sm-10">
                    <button type="submit" id="submit" class="btn btn-primary">Submit Form</button>
                </div>
            </div>
        </form>
    </div>

    <div class="modal fade" id="resultModalSuccess" tabindex="-1" role="dialog" aria-labelledby="resultModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="resultModalLabel">Result</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {#                    <p id="result"></p>#}
                    <p>data telah tersimpan</p>
                </div>
                <div class="modal-footer">
                    {#                    <button type="button" class="btn btn-primary"#}
                    {#                            onclick="simpan_data_dan_lanjut()" data-dismiss="modal">Pindah#}
                    {#                        ke indikator selanjutnya#}
                    {#                    </button>#}
                    <button type="button" class="btn btn-secondary" onclick="window.location.href='{% url "ekonomi:data_evaluasi" %}'" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}
    <script src="{% static 'lib/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'lib/datatables.net-dt/js/dataTables.dataTables.min.js' %}"></script>
    <script src="{% static 'lib/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'lib/datatables.net-responsive-dt/js/responsive.dataTables.min.js' %}"></script>
    <script src="{% static 'lib/select2/js/select2.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'ajax_datatable/js/utils.js' %}"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#submit').click(function (e) {
                e.preventDefault();
                var formData = new FormData();
                formData.append('csrfmiddlewaretoken', $('input[name="csrfmiddlewaretoken"]').val());
                formData.append('id_pondok', $('input[name="id_pondok"]').val());
                {% for i in data_indikator %}
                    formData.append('ciri_{{ i.pk }}', $('input[name="ciri_{{ i.pk }}"]').val());
                    formData.append('uraian_{{ i.pk }}', $('input[name="uraian_{{ i.pk }}"]').val());
                    formData.append('file_{{ i.pk }}', $('input[name="file_{{ i.pk }}"]')[0].files[0]);

                {% endfor %}
                $.ajax({
                    url: "{% url 'ekonomi:simpan_evaluasi' %}",
                    type: 'POST',
                    data: formData,
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function (data) {
                        console.log(data);
                        $("#resultModalSuccess").modal();
                    }
                })
            });
        });
    </script>

{% endblock %}

