{% extends 'base/base.html' %}
{% load static %}
{% block css %}

{% endblock %}
{% block content %}
    <h1>Fase 2</h1>

    <div data-label="" class="df-example">
        <div class="row">
            <div class="col-lg">
                <div class="pd-y-10 pd-x-20 bg-ui-01 mg-b-auto">
                    <p>Keterlibatan para santri</p>
                    Indikator:
                    <ul>
                        <li>100% Santri Terlibat Dalam Kegiatan Unit Usaha Pesantren</li>
                        <li>100% Santri Membuka Rekening Syariah*</li>
                    </ul>
                    Ket:
                    *) = Rekening Syariah Santri Untuk Menerima Upah Dari Membantu Unit Usaha. Upah Dapat Dimanfaatkan
                    Santri Untuk Membuka Usaha Setelah Lulus Dari Pesantren

                </div>
                <hr>
                <form method="post" action="#" id="pertanyaan">
                    <h3>Pertanyaaan</h3>
                    <div class="form-group row">
                        <div class="col-lg">
                            <label class="col-form-label col-lg pt-0">1. Apakah santri seluruhnya terlibat dalam
                                kegiatan usaha pesantren</label>
                            <div>
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="customRadio1" name="ind1"
                                           class="custom-control-input" value="yes" required>
                                    <label class="custom-control-label" for="customRadio1">Yes</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="customRadio2" name="ind1"
                                           class="custom-control-input" value="no" required>
                                    <label class="custom-control-label" for="customRadio2">No</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg">
                            <label class="col-form-label col-lg pt-0">2. Apakah santri seluruhnya memiliki rekening
                                syariah?</label>
                            <div>
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="modalyes" name="ind2"
                                           class="custom-control-input" value="yes" required>
                                    <label class="custom-control-label" for="modalyes">Yes</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="modalno" name="ind2"
                                           class="custom-control-input" value="no" required>
                                    <label class="custom-control-label" for="modalno">No</label>
                                </div>
                            </div>
                        </div>

                    </div>
                    <input type="button" value="Submit" class="btn btn-primary" onclick="captureAnswer()">
                </form>
            </div>

        </div><!-- row -->
    </div><!-- df-example -->
    {#modal sukses#}
    <div class="modal fade" id="resultModalSuccess" tabindex="-1" role="dialog" aria-labelledby="resultModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="resultModalLabel">Hasil</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Silahkan menuju ke indikator selanjutnya</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary"
                            onclick="simpan_data_dan_lanjut()" data-dismiss="modal">Pindah
                        ke indikator selanjutnya
                    </button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    {#modal gagal#}
    <div class="modal fade" id="resultModalFailed" tabindex="-1" role="dialog" aria-labelledby="resultModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="resultModalLabel">Hasil</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {#                    <p id="result"></p>#}
                    <p>Mohon maaf kami belum dapat memberikan bantuan kepada pondok pesantren</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" onclick="simpan_data_dan_selesai()"
                            data-dismiss="modal">Close
                    </button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}
    <script>
        // Get the modal
        var modal = document.getElementById("resultModal");

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        function captureAnswer() {
            var ind1 = document.querySelector('input[name="ind1"]:checked');
            var ind2 = document.querySelector('input[name="ind2"]:checked');

            if (ind1 && ind2) {
                if (ind1.value === "yes" && ind2.value === "yes") {
                    $("#resultModalSuccess").modal();
                } else {
                    $("#resultModalFailed").modal();
                }
            } else {
                alert("Cek isian terlebih dahulu");

            }

            console.log("Group 1: " + ind1.value + ", Group 2: " + ind2.value)
        }

        // When the user clicks on <span> (x), close the modal
        span.onclick = function () {
            modal.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target === modal) {
                modal.style.display = "none";
            }
        }


        function simpan_data_dan_lanjut() {
            {#console.log("{{data.id}}")#}
            $.ajaxSetup({
                headers: {"X-CSRFToken": "{{ csrf_token }}"}
            });
            $.post("/simpan_status/", {
                id: "{{data.id}}",
                status: 2
            }, function (data) {
                window.location = "{% url 'ekonomi:indikator3' data.id %}";
            });
        }

        function simpan_data_dan_selesai() {
            {#console.log("{{data.id}}")#}
            $.ajaxSetup({
                headers: {"X-CSRFToken": "{{ csrf_token }}"}
            });
            $.post("/simpan_status/", {
                id: "{{data.id}}",
                status: 2
            }, function (data) {
                window.location = "{% url 'ekonomi:data_pondok' %}";
            });
        }

    </script>
{% endblock %}


